*{
    margin:0px;
    padding:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* =====================================Iniciando a Estilização da Prodmast===================================== */

/* =====================================Estilizando o Header do Prodmast===================================== */

header{
    background-color: #f8fafb;
}
.header{
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
.logo__page span{
    font-size: 20px;
    font-weight: bold;
    color: #26282a;
}
.links__prodmast{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
.links__prodmast a{
    text-decoration: none;
    color: #26282a;
}
.singUp__button{
    height: 5vh;
    width: 6%;
    border-radius: 20px;
    border: none;
    background-color: #0b3338;
    color: #badee2;
}

/* =====================================Estilizando o Main do Prodmast===================================== */

/* =====================================Inicio da Section Home===================================== */
.section__home{
    background-color: #f5f7f9;
}
.introduction__home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;
}
.introduction__home h1{
    width: 70%;
    text-align: center;
    color: #032c2a;
    font-size: 60px;
}
.introduction__home p{
    padding: 15px 0px;
}
.button__div{
    padding: 5px 0px 20px 0px;
    display: flex;
    gap: 10px;
}
.button__getStarted{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #0b3338;
    color: #badee2;
    display: flex;
    align-items: center;
}
.button__tryDemo{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fdffff;
    color: #30433f;
    display: flex;
    align-items: center;
}
.statis__div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.info__status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statis__status{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
}
.first__div{
    height: 45vh;
    width: 18%;
    border-radius: 10px;
}
.second__div, .terceiro__div{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px ;
    background-color: #153f45;
    border-radius: 10px;
}
.second__div span, .terceiro__div span{
    font-size: 30px;
    color: #efffff;
}
.second__div small, .terceiro__div small{
    font-size: 15px;
    color:#badee2;
    text-align: center;
    width: 50%;
}
.terceiro__div{
    background-color: #e2ffc8;
}
.terceiro__div span{
    color: #000b03;
}
.terceiro__div small{
    color: #2c4617;
}
.last__div{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 45vh;
    width: 18%;
    background-color: #162f32;
    border-radius: 10px;
}
.center__div{
    width: 15%;
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
}
.center__div--content{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}
.center__div--content small{
    font-size: 15px;
}
.center__div--content h4{
    font-size: 30px;
}
.last__div small{
    font-size: 15px;
    text-align:left;
    width: 60%;
    color: white;
    margin: 0px 0px 30px 30px ;
}
/* =====================================Fim da Primeira Section===================================== */
/* =====================================Inicio da Segunda Section===================================== */
.section__efficiente{
    background-color: #0c363c;
}
.div__efficiente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 70px 0px;
}
.efficiente__tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.efficiente__tittle h1{
    width: 50%;
    font-size: 40px;
    color: white;
}
.efficiente__tittle small{
    font-size: 19px;
    color: #efffff;
}
.efficiente__cards{
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
.card__efficiente{
    width:26%;
    border-radius: 10px;
    background-color: #143e44;
    padding: 70px 35px ;
}
.card__efficiente h4{
    padding: 60px 0px 0px 0px ;
    color: #b9cad4;
    font-size: 20px;
}
.card__efficiente small{
    color: #7fa0a7;
    font-size: 15px;
}
/* =====================================Fim da Segunda Section===================================== */
/* =====================================Inicio da Terceira Section===================================== */
.div__benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding: 80px 60px;
}
.image__benefits{
    height: 70vh;
    width: 35%;
    border-radius: 10px;
}
.benefits__content{
    padding: 20px 20px 20px 60px;
    display: flex;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.benefits__content h1{
    width: 60%;
}
.benefits__content small{
    color: #9b9a9d;
    font-size: 15px;
}
.benefits__content ul{
    margin-left: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
.benefits__content ul li{
    font-size: 18px;
    font-weight: bold;
    color: #262626;
}
/* =====================================Fim da Terceira Section===================================== */
/* =====================================Inicio da Quarta Section===================================== */
.section__plans{
    background-color: #0b0f12;
}
.div__plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 0px;
}
.plans__tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plans__tittle h1{
    width: 60%;
    text-align: center;
    color: #efffff;
}
.plans__tittle small{
    font-size: 15px;
    padding: 20px 0px 30px 0px ;
    color: #9b9a9d;
}
.prices__div{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 20px;
}
.card__price{
    display: flex;
    flex-direction: column;
    padding: 30px 30px ;
    gap: 20px;
    background-color: #1f2326;
    border-radius: 10px;
}
.price__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price__content h4{
    font-size: 16px;
    font-weight: 700;
    color: #e7ebee;
}
.price__content small{
    color: #8e9296;
    width: 85%;
}
.button__price-start{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button__price-start h3{
    color: #e7ebee;
    font-size: 18;
}
.button__price-start h3 span{
    font-size: 12px;
    color: #8e9296;
}
.button__gerStarted{
    padding: 6px 0px;
    background-color: transparent;
    border: 1px solid #e7ebee;
    color: #e7ebee;
    border-radius: 20px;
}
.list__benifty{
    padding: 30px 0px 0px 0px ;
}
.list__benifty ul{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__benifty ul li{
    color: #8e9296;
    font-size: 15px;

}
.div__professional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    gap: 20px;
    background-color: #0c363c;
    border-radius: 10px;
}
.div__professional h4{
    color:#e7ebee;
}
.div__professional small{
    color: #9b9a9d;
    font-size: 15px;
    width: 55%;
}
.button__getStarted-prof{
    padding: 10px 20px;
    background-color: #e3ffcf;
    border: none;
    border-radius: 20px;
    color: #425c43;
}
/* =====================================Fim da Quarta Section===================================== */
/* =====================================Inicio da Quinta Section===================================== */
.div__empowering{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    justify-content: space-between;
    padding: 60px;
}
.empowering__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.empowering__content h2{
    width: 70%;
    font-size: 25px;
}
.empowering__content small{
    width: 95%;
    font-size: 15px;
    color: #9b9a9d;
}
.button__work{
    width: 25%;
    padding: 7px 0px;
    border: none;
    background-color: #e2ffc8;
    border-radius: 20px;
    color:#153f45;
}
.image__empowering{
    height: 45vh;
    width: 40%;
}
.div__idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 70px 0px;
    background-color: #0f3940;
}
.div__idea h2{
    font-size: 25px;
    color: #f2ffff;
}
.div__idea small{
    width: 30%;
    text-align: center;
    color:#9b9a9d;
    font-size: 15px;
}
.button__workUs{
    padding: 7px 15px;
    border: none;
    background-color: #e2ffc8;
    border-radius: 20px;
    color:#153f45;
}
/* =====================================Fim da Quinta Section===================================== */
/* =====================================Inicio do Footer===================================== */
footer{
    padding: 60px;
    background-color: #0b0f12;
}
.div__footer{
    display: flex;
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid #b9b9bb;
}
.div__footer--logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo__footer{
    font-size: 20px;
    font-weight: bold;
    color: #b9b9bb;
}
.div__footer--logo P{
    width: 40%;
    color: #9b9a9d;
}
.footer__lists{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.box__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box__list h3{
   color: #b9b9bb; 
}
.box__list ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box__list ul li{
    list-style: none;
    color: #9b9a9d;
}
.box__list small{
    color: #9b9a9d;
}
.footer__social span{
    display: flex;
    gap: 10px;
}
.footer__social span i{
    /* font-size: 20px; */
    padding: 2px;
    border-radius: 5px;
    background-color: #24282c;
}
.footer__rights{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.footer__rights span{
    color:#9b9a9d;
}
.footer__rights div{
    display: flex;
    gap: 20px;
    color:#9b9a9d;
}